/* body backgrounds and main */
body{
    background-color: #ffffff;
    font-family: ´roboto´, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #373867;
}
main {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1620px;
    margin-left: 300px;
    margin-right: 0;
    margin-top: 90px;
}
main section{
    height: 2000px;
    background-color: #ffffff;
}
header {
    position: fixed;
    width: 100%;
    height: 90px;
    min-height: 71px;
    top: 0;
    z-index: 100;
    background-color: #373867;
}
header img{
    width: 55px;
}
.button {
    position: fixed;
    right: 28px;
    top: 28px;
}
nav {
    position: fixed;
    width: 300px;
    height: auto;
    top: 9.5%;
    left: 0;
    bottom: 10%;
    background-color: #aace98
}

footer {
    position: fixed;
    width: 100%;
    height: 10%;
    padding: 2px;
    bottom: 0;
    background-color: #373867;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    color: #aace98;
}
nav li {
    width: 240px;
    padding: 6px;
    bottom: 50%;
    text-align: left;
}
nav a {
    display: block;
    width: 225px;
    margin: 25px 2px;
    padding: 7px 4px;
    background-color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    box-shadow: 0px 3px 0
}
.logo{
    display: inline-block;
    width: 400px;
    height: 400px;
    vertical-align: middle;
}
#homepage {
    background-image: url(../assets/background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
