/* body backgrounds and main */
body{
    background-color: #AACE9B;
    font-family: ´roboto´, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #373867;
}
body > main {
    background-color: #FFFFFF;
    width: 1140px;
    margin-left: 300px;
}
header {
    display: block;
    position: fixed;
    background-color: #373867;
    width: 100%;
    height: 91px;
    top: 0;
    margin: 0;
    z-index: 3;
    text-align: center;
}
header img{
    width: 55px;
}
.button {
    position: fixed;
    right: 28px;
    top: 28px;
}
nav {
    /* Side bar */


position:absolute;
width: 308px;
height: 832px;
left: 0px;
top: 0px;
float: left;
background: #AACE9B
}
footer {
    width: 100%;
    height: 104px;
    display: block;
    position: fixed;
    background-color: #373867;
    bottom: 0;
    z-index: 3;
}
nav li {
    border: 1px solid #FFFFFF;
    padding: 8px;
    background-color: #FFFFFF;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; 
    font-family: 'roboto', sans-serif;
    width: 241px;
    height: 36px;
    left: 32px;
    top: 438px;
    box-shadow: 0px 2px 0px #373867;
}